In [1]:
import numpy as np
import pandas as pd

from sklearn.svm import SVR

from sklearn.preprocessing import OneHotEncoder, StandardScaler
OHE = OneHotEncoder(sparse=False)
pd.set_option('display.max_rows', 30)

In [2]:
# 月日如果用起来要one-hot，之后产生的feature就太多了而且感觉没必要，可能考虑is_special更合适
# 但是前后依赖这里怎么办呢？
# train[['month','day']] = train.date.str.split('-', expand=True)
def get_x_y(df):
    data = df.drop(columns=['Unnamed: 0', 'route', 'calculated_day', 'date'])
    ohe = OHE.fit_transform(data[['hr', 'weekday']])
    ohe_df = pd.DataFrame(ohe, columns= OHE.get_feature_names(input_features=['hr', 'weekday']))
    data = pd.concat([data, ohe_df],axis = 1)
    data = data.drop(columns=['hr', 'weekday'])
    x = data.drop(columns=['label'])
    y = data.label
    return x, y

In [3]:
def mape_error(y_true, y_pred):
    return np.mean(np.abs((y_true - y_pred) / y_true))


def scoring(reg, x, y):
    pred = reg.predict(x)
    return -mape_error(pred, y)

In [6]:
#A_2
file_path = 'A_2.csv'

data_whole = pd.read_csv(file_path)
cal_day=list(data_whole['calculated_day'])

valid_date=[298,299,300,301,302,303,304,320,321,322,323,324,325,326,327]
valid_index=[]
for i in range(len(cal_day)):
    if cal_day[i] in valid_date:
        valid_index.append(i)
        
valid=data_whole.iloc[valid_index]
train=data_whole.drop(valid_index)
train.reset_index(drop=True, inplace=True)
valid.reset_index(drop=True, inplace=True)

train_x, train_y = get_x_y(train)
test_x, test_y = get_x_y(valid)

gdbt = SVR().fit(train_x, train_y)
print(mape_error(train_y, gdbt.predict(train_x)))
print(mape_error(test_y, gdbt.predict(test_x)))
result = gdbt.predict(train_x)
train_compare = pd.concat([train_y, pd.Series(result)],axis = 1)
print(train_compare)

result = gdbt.predict(test_x)
test_compare = pd.concat([test_y, pd.Series(result)],axis = 1)
print(test_compare)

# gbdt的结果
# 0.09230943513239677
# 0.1381704938850841

0.16987696954765566
0.11482559452768365
          label          0
0     75.086667  70.843777
1    148.053333  73.952812
2    109.863333  76.770184
3     74.633333  76.941981
4     88.636667  76.131967
5     65.770000  71.751233
6    173.260000  76.744904
7     88.680000  74.391220
8    140.553333  76.157766
9     84.563333  73.067956
10   107.946667  68.306587
11    93.943333  68.952712
12    68.176667  70.469619
13   108.560000  77.161129
14    85.526667  77.168508
..          ...        ...
276   57.766667  71.073710
277   90.673333  68.548808
278   76.296667  70.462380
279   89.176667  70.581627
280   59.073333  67.696270
281   89.446667  76.475414
282   56.376667  65.218425
283   53.956667  63.969709
284   46.476667  64.840840
285   66.246667  67.193294
286   63.916667  68.380762
287   68.750000  68.619857
288   58.106667  65.357271
289   58.666667  65.434214
290   63.286667  71.415535

[291 rows x 2 columns]
         label          0
0    80.126667  68.320779
1    68.713333  66.295405
2    62.150000  69.900806
3    68.540000  65.265830
4    73.396667  70.433780
5    64.703333  67.408775
6    66.946667  67.306624
7    76.466667  71.473458
8    72.703333  65.791243
9    86.493333  65.889883
10   88.666667  71.021548
11   84.203333  67.468095
12  109.540000  69.234753
13   78.276667  67.328871
14  108.740000  67.557754
..         ...        ...
45   64.116667  75.504790
46   67.870000  72.804867
47   67.270000  71.607572
48   74.820000  72.993267
49   68.523333  76.304648
50   64.730000  74.075680
51   69.073333  69.110750
52   68.826667  69.184832
53   76.983333  72.918172
54   62.616667  66.539438
55   67.673333  71.375085
56   67.823333  71.919893
57   69.840000  70.162541
58   62.610000  70.271787
59   58.156667  68.669085

[60 rows x 2 columns]

In [8]:
#A_3
file_path = 'A_3.csv'

data_whole = pd.read_csv(file_path)
cal_day=list(data_whole['calculated_day'])

valid_date=[298,299,300,301,302,303,304,320,321,322,323,324,325,326,327]
valid_index=[]
for i in range(len(cal_day)):
    if cal_day[i] in valid_date:
        valid_index.append(i)
        
valid=data_whole.iloc[valid_index]
train=data_whole.drop(valid_index)
train.reset_index(drop=True, inplace=True)
valid.reset_index(drop=True, inplace=True)

train_x, train_y = get_x_y(train)
test_x, test_y = get_x_y(valid)

gdbt = SVR().fit(train_x, train_y)

print(mape_error(train_y, gdbt.predict(train_x)))
print(mape_error(test_y, gdbt.predict(test_x)))
result = gdbt.predict(train_x)
train_compare = pd.concat([train_y, pd.Series(result)],axis = 1)
print(train_compare)

result = gdbt.predict(test_x)
test_compare = pd.concat([test_y, pd.Series(result)],axis = 1)
print(test_compare)

# gbdt
# 0.12228678785309767
# 0.1471140890831642

0.17297326402407368
0.13899183024742304
          label           0
0    146.513333  119.048969
1    203.340000  133.623329
2    168.586667  140.211589
3    139.636667  129.071784
4    108.560000  125.836135
5    112.563333  112.907590
6    158.526667  133.291408
7    132.176667  125.200628
8    123.523333  134.152954
9    159.600000  135.281943
10   172.003333  134.176524
11   119.686667  118.741526
12   123.146667  120.691276
13   177.236667  128.777828
14   172.870000  123.658294
..          ...         ...
272  122.283333  115.493917
273  109.413333  118.319054
274  120.263333  129.614964
275  120.730000  117.335166
276  214.430000  123.486997
277  122.100000  122.901974
278  100.010000  113.625556
279  108.500000  117.583981
280  103.200000  118.182443
281  121.746667  123.678381
282  115.176667  133.717620
283  109.960000  115.082291
284  123.546667  115.648268
285  105.820000  116.709003
286  120.643333  122.627673

[287 rows x 2 columns]
         label           0
0   124.720000  121.012277
1   130.993333  115.752874
2   113.410000  116.869036
3   124.660000  116.638913
4   124.023333  138.885506
5   122.970000  115.153815
6   142.806667  118.731556
7   145.256667  141.443560
8   164.996667  127.051889
9   189.413333  128.497905
10  147.183333  126.889009
11  130.260000  133.622930
12  377.873333  141.331377
13  133.116667  114.476812
14  297.220000  143.401637
..         ...         ...
45  111.966667  116.573975
46  117.280000  115.710523
47  115.266667  118.022830
48  116.823333  119.310145
49  119.536667  119.897669
50  127.586667  133.838366
51  122.513333  127.402528
52  123.016667  117.079378
53  173.710000  115.870443
54  115.163333  116.735636
55  110.613333  117.896011
56  140.670000  118.657869
57  257.630000  131.467966
58  137.190000  139.172118
59  129.810000  119.403022

[60 rows x 2 columns]

In [9]:
#B_1
file_path = 'B_1.csv'

data_whole = pd.read_csv(file_path)
cal_day=list(data_whole['calculated_day'])

valid_date=[298,299,300,301,302,303,304,320,321,322,323,324,325,326,327]
valid_index=[]
for i in range(len(cal_day)):
    if cal_day[i] in valid_date:
        valid_index.append(i)
        
        
valid=data_whole.iloc[valid_index]
train=data_whole.drop(valid_index)
train.reset_index(drop=True, inplace=True)
valid.reset_index(drop=True, inplace=True)


train_p5= pd.read_csv('5min_shifted_with_10.1_B_1.csv')
train_m5= pd.read_csv('-5min_shifted_with_10.1_B_1.csv')


valid_index=[]

cal_day=list(train_p5['calculated_day'])
for i in range(len(cal_day)):
    if cal_day[i] in valid_date:
        valid_index.append(i)

train_p5_used=train_p5.drop(valid_index)
train_p5_used.reset_index(drop=True, inplace=True)


valid_index=[]

cal_day=list(train_m5['calculated_day'])
for i in range(len(cal_day)):
    if cal_day[i] in valid_date:
        valid_index.append(i)

train_m5_used=train_m5.drop(valid_index)
train_m5_used.reset_index(drop=True, inplace=True)


train1 = pd.concat([train,train_p5_used])
train1.reset_index(drop=True, inplace=True)

train_x, train_y = get_x_y(train1)
test_x, test_y = get_x_y(valid)



gdbt = SVR().fit(train_x, train_y)

print(mape_error(train_y, gdbt.predict(train_x)))
print(mape_error(test_y, gdbt.predict(test_x)))
result = gdbt.predict(train_x)
train_compare = pd.concat([train_y, pd.Series(result)],axis = 1)
print(train_compare)

result = gdbt.predict(test_x)
test_compare = pd.concat([test_y, pd.Series(result)],axis = 1)
print(test_compare)

# gbdt
# 0.2405223397424579
# 0.1299667129187069

0.23235859315856172
0.12794120340420484
          label           0
0    100.320000  118.449212
1    212.310000  119.999872
2    129.945000  117.890299
3    118.616667  117.457230
4    118.785000  116.843211
5    101.216667  119.772737
6    179.000000  117.995105
7     23.100000  118.470615
8    142.260000  119.892331
9    102.365000  117.395325
10    88.320000  116.749572
11    97.943333  116.996571
12   101.250000  114.908938
13   102.785000  116.706990
14   112.445000  116.196441
..          ...         ...
452  289.906667  121.114602
453  129.943333  120.187087
454  297.500000  118.387338
455  122.950000  119.020773
456  137.385000  119.211592
457  129.946667  124.488760
458  129.440000  116.979582
459  108.876667  117.381385
460  113.066667  119.278442
461  126.573333  119.009900
462  121.953333  121.433857
463  110.900000  117.193546
464  144.060000  118.162292
465  130.540000  116.979282
466  215.270000  121.070373

[467 rows x 2 columns]
         label           0
0   132.930000  116.835228
1   163.843333  118.022040
2    96.410000  117.572263
3   128.306667  119.162453
4   133.493333  119.888818
5   136.543333  119.959719
6   110.900000  116.500148
7    96.220000  116.206268
8   100.416667  119.000316
9   135.856667  118.163987
10  115.913333  117.576654
11  117.923333  117.507166
12  141.480000  117.438984
13  117.936667  118.007148
14  112.876667  117.396408
..         ...         ...
45  203.970000  116.273619
46  236.715000  120.600446
47  135.550000  118.831598
48  114.783333  121.804660
49  162.996667  118.975042
50  124.230000  117.969645
51  124.260000  119.661373
52  163.240000  119.213017
53  156.653333  119.084627
54  131.213333  118.798172
55  148.810000  118.617599
56  203.920000  118.452180
57  111.363333  122.803604
58  117.240000  117.967448
59  120.330000  119.707288

[60 rows x 2 columns]

In [11]:
train1

,Unnamed: 0,label,route,calculated_day,date,hr,weekday,110,123,107,...,precipitation,105,100,111,103,116,101,121,106,113
0,0,146.513333,A_3,236,7-19,8,1,13.050750,7.050500,4.841250,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,203.340000,A_3,237,7-20,8,2,15.771250,8.656250,5.604000,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,168.586667,A_3,238,7-21,8,3,16.371636,9.418364,6.588000,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,139.636667,A_3,239,7-22,8,4,13.753182,7.978409,5.906364,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,108.560000,A_3,240,7-23,8,5,13.491200,7.297800,5.067000,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
524,284,110.900000,B_1,316,10-6,18,3,NaN,NaN,NaN,...,0.0,21.561176,8.350909,23.527826,4.491957,16.924091,10.487273,14.486364,2.177273,18.041364
525,285,144.060000,B_1,317,10-7,18,4,NaN,NaN,NaN,...,2.0,15.984000,8.490227,29.352264,6.520189,19.960000,13.539545,14.991818,1.774545,20.460000
526,286,130.540000,B_1,318,10-8,18,5,NaN,NaN,NaN,...,0.0,11.991111,6.916111,18.296765,4.507353,15.415263,8.717368,24.152632,1.964737,22.461053
527,287,215.270000,B_1,319,10-9,18,6,NaN,NaN,NaN,...,0.0,29.550000,7.697917,29.640769,6.865641,17.461333,8.989333,18.533333,3.262667,28.375333
528,295,120.330000,B_1,327,10-17,18,0,NaN,NaN,NaN,...,0.0,11.186400,6.639167,33.903571,3.690476,22.885833,10.192917,16.855000,1.402500,61.859583

In [10]:
#B_3
file_path = 'B_3.csv'

data_whole = pd.read_csv(file_path)
cal_day=list(data_whole['calculated_day'])

valid_date=[298,299,300,301,302,303,304,320,321,322,323,324,325,326,327]
valid_index=[]
for i in range(len(cal_day)):
    if cal_day[i] in valid_date:
        valid_index.append(i)
        
valid=data_whole.iloc[valid_index]
train=data_whole.drop(valid_index)
train.reset_index(drop=True, inplace=True)
valid.reset_index(drop=True, inplace=True)

train_x, train_y = get_x_y(train)
test_x, test_y = get_x_y(valid)

gdbt = SVR().fit(train_x, train_y)

print(mape_error(train_y, gdbt.predict(train_x)))
print(mape_error(test_y, gdbt.predict(test_x)))
result = gdbt.predict(train_x)
train_compare = pd.concat([train_y, pd.Series(result)],axis = 1)
print(train_compare)

result = gdbt.predict(test_x)
test_compare = pd.concat([test_y, pd.Series(result)],axis = 1)
print(test_compare)

# gbdt
# 0.10536970076864392
# 0.19815368489358295

0.1905780564218508
0.14713125412442687
          label           0
0    147.723333  116.295668
1    148.253333  127.589987
2    107.110000  115.832310
3    155.416667  115.042671
4    103.586667  115.929656
5     67.636667  110.622676
6    115.960000  117.266421
7    128.463333  111.444676
8    109.366667  109.518021
9    139.310000  123.436308
10   164.433333  129.100136
11   141.243333  113.660828
12   154.413333  112.585696
13   142.190000  125.230910
14   208.746667  116.153014
..          ...         ...
274  109.420000  109.295958
275  132.630000  115.001683
276   97.790000  116.675612
277  134.226667  112.769483
278  596.750000  116.577331
279  110.676667  123.221075
280   81.350000  106.644458
281  102.563333  109.321578
282  125.633333  112.377678
283  107.600000  113.127178
284  103.366667  116.203832
285   90.780000  108.614765
286  111.426667  110.029290
287  104.705000  109.445450
288  121.530000  112.750801

[289 rows x 2 columns]
         label           0
0   102.530000  110.069446
1   117.593333  108.516954
2   149.496667  108.627786
3   107.776667  108.827604
4   162.086667  111.248834
5   173.210000  108.434782
6    81.750000  107.721921
7   124.070000  108.210170
8   124.003333  111.047651
9   149.183333  112.514607
10  106.516667  108.505273
11   95.633333  107.773618
12   90.590000  110.003021
13   96.980000  108.491067
14  124.520000  111.816069
..         ...         ...
45   85.200000  109.305119
46   99.760000  113.359641
47  101.910000  112.050648
48  112.003333  115.221947
49  129.243333  116.113596
50   93.706667  114.508802
51  114.796667  117.074407
52  105.120000  110.823783
53   89.256667  111.280810
54  106.123333  111.176395
55  102.470000  111.649602
56  118.543333  110.154295
57   94.883333  116.054701
58  113.926667  110.973235
59   79.440000  111.794337

[60 rows x 2 columns]

In [11]:
#C_1
file_path = 'C_1.csv'

data_whole = pd.read_csv(file_path)
cal_day=list(data_whole['calculated_day'])

valid_date=[298,299,300,301,302,303,304,320,321,322,323,324,325,326,327]
valid_index=[]
for i in range(len(cal_day)):
    if cal_day[i] in valid_date:
        valid_index.append(i)
        
        
valid=data_whole.iloc[valid_index]
train=data_whole.drop(valid_index)
train.reset_index(drop=True, inplace=True)
valid.reset_index(drop=True, inplace=True)


train_p5= pd.read_csv('5min_shifted_C_1.csv')
train_m5= pd.read_csv('-5min_shifted_C_1.csv')


valid_index=[]

cal_day=list(train_p5['calculated_day'])
for i in range(len(cal_day)):
    if cal_day[i] in valid_date:
        valid_index.append(i)

train_p5_used=train_p5.drop(valid_index)
train_p5_used.reset_index(drop=True, inplace=True)


valid_index=[]

cal_day=list(train_m5['calculated_day'])
for i in range(len(cal_day)):
    if cal_day[i] in valid_date:
        valid_index.append(i)

train_m5_used=train_m5.drop(valid_index)
train_m5_used.reset_index(drop=True, inplace=True)


train1 = pd.concat([train,train_p5_used])
train1.reset_index(drop=True, inplace=True)

train_x, train_y = get_x_y(train1)
test_x, test_y = get_x_y(valid)



gdbt = SVR().fit(train_x, train_y)

print(mape_error(train_y, gdbt.predict(train_x)))
print(mape_error(test_y, gdbt.predict(test_x)))
result = gdbt.predict(train_x)
train_compare = pd.concat([train_y, pd.Series(result)],axis = 1)
print(train_compare)

result = gdbt.predict(test_x)
test_compare = pd.concat([test_y, pd.Series(result)],axis = 1)
print(test_compare)

# gbdt
# 0.10830155005055248
# 0.1390390318323988

0.1718242795134562
0.15175864453383212
          label           0
0    140.245000  176.268837
1    231.923333  175.718095
2    146.070000  173.599411
3    190.573333  172.940955
4    207.370000  173.468007
5    156.363333  172.532851
6    152.426667  177.258006
7    189.870000  175.942664
8    130.555000  173.486033
9    173.980000  173.260912
10   138.240000  175.188054
11   243.325000  173.601719
12   124.545000  173.649847
13   171.280000  174.683435
14   150.573333  173.026700
..          ...         ...
416  238.696667  174.585042
417  232.180000  175.072259
418  365.560000  181.959127
419  373.416667  181.585854
420  157.866667  173.881693
421  293.980000  177.818165
422  353.680000  177.781040
423  208.270000  175.195601
424  205.230000  173.616257
425  337.190000  177.406474
426  252.450000  174.815226
427  268.755000  174.758587
428  249.116667  181.753318
429  272.230000  172.670725
430  238.060000  174.912493

[431 rows x 2 columns]
         label           0
0   159.553333  173.915658
1   154.173333  172.538770
2   174.570000  173.045492
3   147.140000  175.526749
4   149.433333  174.440543
5   197.043333  175.618553
6   163.403333  171.301290
7   199.053333  171.710328
8   148.936667  174.336627
9   156.813333  173.170588
10  169.460000  175.543104
11  152.766667  174.606071
12  183.330000  173.001848
13  182.230000  174.852548
14  157.160000  174.556984
..         ...         ...
43  193.946667  177.744581
44  164.570000  175.278055
45  337.055000  175.681923
46  136.510000  175.921926
47  206.960000  174.769471
48  213.273333  177.197879
49  309.620000  177.248636
50  184.335000  174.142552
51  244.830000  174.931577
52  202.555000  174.339551
53  282.260000  174.310623
54  230.510000  174.778432
55  198.123333  177.762020
56  266.680000  177.751082
57  267.110000  175.286692

[58 rows x 2 columns]

In [12]:
#C_3
file_path = 'C_3.csv'

data_whole = pd.read_csv(file_path)
cal_day=list(data_whole['calculated_day'])

valid_date=[298,299,300,301,302,303,304,320,321,322,323,324,325,326,327]
valid_index=[]
for i in range(len(cal_day)):
    if cal_day[i] in valid_date:
        valid_index.append(i)
        
        
valid=data_whole.iloc[valid_index]
train=data_whole.drop(valid_index)
train.reset_index(drop=True, inplace=True)
valid.reset_index(drop=True, inplace=True)


train_p5= pd.read_csv('5min_shifted_C_3.csv')
train_m5= pd.read_csv('-5min_shifted_C_3.csv')


valid_index=[]

cal_day=list(train_p5['calculated_day'])
for i in range(len(cal_day)):
    if cal_day[i] in valid_date:
        valid_index.append(i)

train_p5_used=train_p5.drop(valid_index)
train_p5_used.reset_index(drop=True, inplace=True)


valid_index=[]

cal_day=list(train_m5['calculated_day'])
for i in range(len(cal_day)):
    if cal_day[i] in valid_date:
        valid_index.append(i)

train_m5_used=train_m5.drop(valid_index)
train_m5_used.reset_index(drop=True, inplace=True)


train1 = pd.concat([train,train_p5_used])
train1.reset_index(drop=True, inplace=True)

train_x, train_y = get_x_y(train1)
test_x, test_y = get_x_y(valid)



gdbt = SVR().fit(train_x, train_y)

print(mape_error(train_y, gdbt.predict(train_x)))
print(mape_error(test_y, gdbt.predict(test_x)))
result = gdbt.predict(train_x)
train_compare = pd.concat([train_y, pd.Series(result)],axis = 1)
print(train_compare)

result = gdbt.predict(test_x)
test_compare = pd.concat([test_y, pd.Series(result)],axis = 1)
print(test_compare)

0.21047501210223693
0.18192500975375567
          label           0
0    132.050000  187.203978
1    219.150000  194.833718
2    166.150000  187.648907
3    161.786667  187.334001
4    207.950000  184.139266
5    266.680000  188.332090
6    197.346667  184.518387
7    223.800000  183.106279
8    294.460000  190.153347
9    129.590000  194.579994
10   164.520000  184.782399
11   197.700000  184.676719
12   227.955000  194.771443
13   300.616667  187.027329
14   253.250000  188.723827
..          ...         ...
383  195.595000  184.936966
384  165.435000  183.918213
385  160.405000  189.993695
386  314.240000  191.318044
387  171.436667  183.097874
388  307.575000  188.726922
389  209.406667  190.668326
390  188.146667  182.222536
391  182.946667  185.343643
392  173.840000  188.774223
393  307.935000  183.000988
394  189.050000  186.317221
395  245.666667  189.683022
396  141.100000  180.875796
397  182.425000  182.993393

[398 rows x 2 columns]
         label           0
0   198.080000  181.371336
1   276.740000  182.057487
2   288.013333  181.122364
3   210.320000  181.916297
4   311.870000  178.875116
5   152.190000  181.203400
6   134.615000  182.083824
7   216.715000  183.935941
8   151.620000  182.227061
9   155.380000  182.148554
10   88.780000  179.324555
11  198.630000  180.866776
12  161.833333  181.374402
13  113.720000  182.063261
14  255.130000  181.128408
..         ...         ...
42  172.330000  181.862522
43  174.050000  184.570030
44  161.643333  183.096765
45  181.783333  185.850236
46  183.430000  186.547497
47  184.366667  186.438499
48  287.890000  187.162712
49  155.400000  182.826649
50  229.610000  182.452778
51  181.390000  182.454056
52  178.660000  183.341287
53  152.910000  182.726797
54  250.595000  186.882195
55  142.770000  185.462240
56  350.115000  184.257631

[57 rows x 2 columns]